<div class="page-header">
  <%= link_to sales_seller_course_videos_path(@seller, @course), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to sales_seller_course_video_path(@seller, @course, @sales_video), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Editar sales_video</h1>
</div>

<%= render 'form' %>
