<div class="page-header">
  <%= link_to sales_seller_course_videos_path(@seller, @course), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Nova Aula</h1>
</div>

<%= render 'form' %>
