<div class="page-header">
  <%= link_to sales_seller_course_videos_path(@seller, @course), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_sales_seller_course_video_path(@seller, @course, @sales_video), class: 'btn btn-primary', style: 'color: #fff;' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Detalhes aula</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @sales_video.nome %></dd>

  <dt>Descricao:</dt>
  <dd><%= @sales_video.descricao %></dd>

  <dt>Video:</dt>
  <dd><%#= @sales_video.embed.html_safe %></dd>

</dl>
