<div class="page-header">
  <%= link_to sales_seller_addresses_path(@sales_seller), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to sales_seller_address_path(@sales_seller, @sales_address), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Editar Endereço</h1>
</div>

<%= render 'form' %>
