<div class='container'>
  <div class='row'>
    <div class='coursesContainer'>
      <% @courses.each do |course| %>
        <div class='col-md-4 '>
          <div class='courseItem'>
            <%= link_to "/marketplace/courses/#{course.id}" do %>
              <%= image_tag course.picture, size: "120x120"%>
              <h3> <%= course.nome %> </h3>
              <p> Veja os detalhes.. </p>
              <hr>
            <% end %>
            <%= link_to "Comprar", "/marketplace/checkout/#{course.id}", class: 'btn buyButton' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>