<div class="page-header">
  <%= link_to @sales_seller, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Alterar Dados</h1>
</div>

<%= render 'form' %>
