<div class="page-header">
  <%= link_to admin_administrator_administrator_addresses_path(@administrador), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to admin_administrator_address_path(@administrador, @admin_administrator_address), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Editar Endereço</h1>
</div>

<%= render 'form' %>
