<div class="page-header">
  <%= link_to admin_administrator_administrator_addresses_path(@administrator), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Novo Endereço</h1>
</div>

<%= render 'form' %>
