<div class="page-header">
  <%= link_to admin_administrator_categories_path(@administrator), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to admin_administrator_category_path(@administrator, @admin_category), class: 'btn btn-primary', style: 'color: #fff;' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Alterar Categoria</h1>
</div>

<%= render 'form' %>
