<div class="page-header">
  <%= link_to admin_administrator_categories_path(@administrator), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_admin_administrator_category_path(@administrator, @admin_category), class: 'btn btn-primary', style: 'color: #fff;' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Detalhes Categoria</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @admin_category.nome %></dd>

</dl>
