<div class="page-header">
  <%= link_to admin_administrator_bank_accounts_path(@administrator), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Novo admin_bank_account</h1>
</div>

<%= render 'form' %>
